container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && django-admin.py migrate"
    leader_only: true
#  02_createsuperuser:
#    command: "echo \"from django.contrib.auth.models import User; User.objects.create_superuser('admin','ngshiheng@gmail.com','Jerry12345!')\" | python3 manage.py shell"
#    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: my_portfolio.settings
